<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.s.api.admin.dao.IXxlApiBizDao">
	
	<resultMap id="XxlApiBiz" type="org.s.api.admin.core.model.XxlApiBiz" >
		<result column="id" property="id" />
		<result column="biz_name" property="bizName" />
	    <result column="order_index" property="order" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.biz_name,
		t.order_index
	</sql>

	<insert id="add" parameterType="org.s.api.admin.core.model.XxlApiBiz" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO api_biz (
			biz_name,
			order_index
		) VALUES (
			#{bizName},
			#{order}
		);
	</insert>

	<update id="update" parameterType="org.s.api.admin.core.model.XxlApiBiz" >
		UPDATE api_biz
		SET
			biz_name = #{bizName},
			order_index = #{order}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer" >
		DELETE FROM api_biz
		WHERE id = #{id}
	</delete>

	<select id="loadAll" parameterType="java.lang.Integer" resultMap="XxlApiBiz">
		SELECT <include refid="Base_Column_List" />
		FROM api_biz AS t
		ORDER BY t.order_index ASC
	</select>

	<select id="pageList" parameterType="java.util.Map" resultMap="XxlApiBiz">
		SELECT <include refid="Base_Column_List" />
		FROM api_biz AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="bizName != null and bizName != ''">
				AND t.biz_name like CONCAT(CONCAT('%', #{bizName}), '%')
			</if>
		</trim>
		ORDER BY t.order_index ASC
		LIMIT #{pagesize}  offset #{offset} 
	</select>

	<select id="pageListCount" parameterType="java.util.Map" resultType="int">
		SELECT count(1)
		FROM api_biz AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="bizName != null and bizName != ''">
				AND t.biz_name like CONCAT(CONCAT('%', #{bizName}), '%')
			</if>
		</trim>
	</select>

	<select id="load" parameterType="java.util.Map" resultMap="XxlApiBiz">
		SELECT <include refid="Base_Column_List" />
		FROM api_biz AS t
		WHERE id = #{id}
	</select>

</mapper>